# Config
compile_commands.json

# Compilation artifacts
*/obj-*
*.o
*.to
*.exe

# Disassembly artifcats
*.ds

# DDE execution artifacts
*/prog.gr
*/prog.der
stats.log

# Clang stuff
.cache/

# Pin tool execution artifacts
*.out
pin.log
pintool.log

# Python env
venv/
__pycache__/
